
*.safetensors
*.bin
*.pkl
*.pt
__pycache__/model.cpython-311.pyc
*.pyc
*.0
speak/output_images/*.png
__pycache__/model.cpython-311.pyc
__pycache__/model.cpython-311.pyc
__pycache__/model.cpython-311.pyc
